.ContainerEditor{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}   

.generate{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.PromptValue{
    width: 94vw;
    height: 2rem;
    border: 1px solid rgb(194, 194, 194);
    padding: 0.5rem;
}